* {
    border: dotted black 1px;
}

html {
    font-family: "FlamaProSemicond-Bold",Cambria,Georgia,"Times New Roman",Times,serif;
    background-color: lavender;
}

.header_header {
    background-color: red;
    height: 60px;
    width: 100%;
    margin-top: 4%;
}
.container_van_de_container {
    background-color: green;
    height: 50px;
    display: flex;
}
/*.reclame_border {*/
    /*background-color: blue;*/
    /*height: 50px;*/
    /*width: 90%;*/
/*}*/

.wrapper {
    justify-content: center;

    display: flex;
    background-color: yellow;
    width: 66%;
    height: 50px;
    margin: 0 auto;
}
.kol1 {
    justify-items: center;
    justify-content: center;
    display: flex;
    background-color: pink;
    height: 50px;
    width: 70%;
    margin-right: 1px;
}
.kol2 {
    justify-items: center;
    display: flex;
    justify-content: center;
    background-color: gold;
    height: 50px;
    width: 30%;
}
.top {
    width: 100%;

}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(10, 344px);
    background-color: #2196F3;
    width: 100%;
    grid-gap: 10px;
}
.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    /*padding: 20px;*/
    font-size: 30px;
    text-align: center;
}
#item1 {
    grid-column: 1/4;
}
#item2 {
    grid-column: 1/3;
    /*grid-row: 3/5;*/
}
